@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100&display=swap');
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.title{
  margin-top:10%;
  font-size:72px;
  font-family: 'Koh Santepheap', cursive;
  font-weight: bold;
  color:white;
}